.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    width: 60%; 
}

.carousel .slide {
    background: none;
}

.carousel .control-arrow:before {
    border-top-color: #000;
    border-bottom-color: #000;
}

.carousel .control-next.control-arrow:before {
    border-left-color: #000;
}

.carousel .control-prev.control-arrow:before {
    border-right-color: #000;
}

.carousel .thumbs-wrapper {
    margin: 20px 0;
}

.carousel .thumb {
    border: none;
}

.carousel .thumb.selected, 
.carousel .thumb:hover {
    border: none;
}

.feature-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px; 
}

.feature-description {
    font-size: 1.2em;
}