.immunization-records table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.immunization-records th,
.immunization-records td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.immunization-records th {
  background-color: #f8f8f8;
  font-weight: bold;
}

.immunization-records tr:nth-child(even) {
  background-color: #f2f2f2;
}
.immunization-button {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
  
}
.immunization-records button {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.immunization-records button:hover {
  background-color: #0056b3;
}